body{
background:#111;
color:white;
font-family:Arial;
margin:0;
text-align:center;
}

.title{
margin-top:80px;
}

.description-center{
max-width:500px;
margin:60px auto;
color:#ccc;
font-size:18px;
line-height:1.6;
}

.menu-center{
display:flex;
flex-direction:column;
align-items:center;
gap:20px;
}

#username{
padding:12px;
font-size:16px;
width:220px;
}

.buttons{
display:flex;
gap:15px;
}

button{
padding:10px 22px;
font-size:16px;
cursor:pointer;
border:none;
border-radius:20px;
}

#gameArea{
position:relative;
height:100vh;
}

.circle{
position:absolute;
background:red;
border-radius:50%;
cursor:pointer;
}

.hidden{
display:none;
}

#timer{
font-size:40px;
margin-top:20px;
}

#homeBtn{
position:fixed;
top:20px;
right:20px;
}

#replayBtn{
position:fixed;
bottom:90px;
left:50%;
transform:translateX(-50%);
border-radius:50%;
width:70px;
height:70px;
}

/* footer */

footer{
position:fixed;
bottom:0;
left:0;
width:100%;
background:#111;
padding:12px 0;
font-size:14px;
}

footer a{
color:white;
margin:0 15px;
text-decoration:none;
opacity:0.7;
}

footer a:hover{
opacity:1;
}