body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
margin:0;
padding:0;
}

h1{
margin-top:40px;
}

#username{
padding:10px;
font-size:16px;
margin-top:20px;
}

.buttons{
margin-top:20px;
}

button{
padding:10px 20px;
font-size:16px;
margin:10px;
cursor:pointer;
border:none;
border-radius:20px;
}

#gameArea{
position:relative;
height:100vh;
}

.circle{
position:absolute;
background:red;
border-radius:50%;
cursor:pointer;
}

.hidden{
display:none;
}

#timer{
font-size:40px;
margin-top:20px;
}

#shareScore{
margin-top:20px;
}

#homeBtn{
position:fixed;
top:20px;
right:20px;
}

#replayBtn{
position:fixed;
bottom:80px;
left:50%;
transform:translateX(-50%);
border-radius:50%;
width:70px;
height:70px;
}

/* description du jeu */

.game-description{
position:absolute;
left:80px;
top:150px;
width:250px;
text-align:left;
font-size:16px;
color:#ccc;
}

/* footer */

footer{
position:fixed;
bottom:10px;
width:100%;
text-align:center;
font-size:14px;
}

footer a{
color:white;
margin:0 15px;
text-decoration:none;
opacity:0.7;
}

footer a:hover{
opacity:1;
}