body{
background:#111;
color:white;
font-family:Arial;
margin:0;
}

.title{
text-align:center;
margin-top:80px;
}

.menu-layout{
display:flex;
justify-content:center;
align-items:center;
gap:120px;
margin-top:120px;
}

.game-description{
width:260px;
color:#ccc;
font-size:16px;
text-align:left;
}

.menu-center{
display:flex;
flex-direction:column;
align-items:center;
}

#username{
padding:10px;
font-size:16px;
margin-bottom:20px;
}

.buttons{
display:flex;
gap:10px;
}

button{
padding:10px 20px;
font-size:16px;
cursor:pointer;
border:none;
border-radius:20px;
}

#gameArea{
position:relative;
height:100vh;
}

.circle{
position:absolute;
background:red;
border-radius:50%;
cursor:pointer;
}

.hidden{
display:none;
}

#timer{
font-size:40px;
text-align:center;
margin-top:20px;
}

#homeBtn{
position:fixed;
top:20px;
right:20px;
}

#replayBtn{
position:fixed;
bottom:90px;
left:50%;
transform:translateX(-50%);
border-radius:50%;
width:70px;
height:70px;
}

/* FOOTER EN BAS */

footer{
position:fixed;
bottom:0;
left:0;
width:100%;
text-align:center;
background:#111;
padding:12px 0;
}

footer a{
color:white;
margin:0 15px;
text-decoration:none;
opacity:0.7;
}

footer a:hover{
opacity:1;
}